.body-container-search{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px auto;
}

.artist-details{
    padding:1.5rem;
    justify-content: space-between;
    color:white;
}

.artist-image > img{
    width:100px;
    height:100px;
    border-radius: 50%;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .body-container-search{
        display: grid;
        grid-template-columns: auto auto auto;
        width: 85%;
        height: 60vh;
        overflow: scroll;
    }
}

@media screen and (max-width: 420px) {
    .artist-details{
        padding:0.8rem;
        justify-content: space-between;
        color:white;
    }
}